body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.film-container{
  width: 50%;
  padding-bottom: 25px;
  border-style: solid;
  background-color: #F1F1F1;
  margin: 0 auto;
}
ul{
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

h2 {
  color: #126CB2;
}

a {
  text-decoration: none;
}
h1 {
  padding-left: 15px;
}

hr {
  width: 95%;
  color: #CFCFCF;
}

button {
  background-color: #A0C4E0;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 15px;
  border-color: black;
  font-size: 16px;
}
